<footer class="footer">
  <div class="footer-container">
    <div class="footer-column footer-address">
      <h4>Alamat & Cabang</h4>
      <ul class="address-list">
        <li><img src="https://cdn-icons-png.flaticon.com/512/684/684908.png" class="pin-icon">
          Rumah Sakit Sari Mulia Banjarmasin - Jl. P. Antasari No. 139, Banjarmasin
        </li>
        <li><img src="https://cdn-icons-png.flaticon.com/512/684/684908.png" class="pin-icon">
          Rumah Sakit Sari Mulia Balangan - Paringin Kota, Kec. Paringin
        </li>
        <li><img src="https://cdn-icons-png.flaticon.com/512/684/684908.png" class="pin-icon">
          Klinik Sari Mulia Sabar - Jl. HKSN, Alalak Utara, Banjarmasin
        </li>
        <li><img src="https://cdn-icons-png.flaticon.com/512/684/684908.png" class="pin-icon">
        Klinik Pendidikan Sari Mulia - PAL 6 Banjarmasin, Kalimantan Selatan
        </li>
        <li><img src="https://cdn-icons-png.flaticon.com/512/684/684908.png" class="pin-icon">
          Klinik Sari Mulia Thriveni - Camp. Bukit Batu, Tanah Bumbu, Batu Licin
        </li>
      </ul>
    </div>

    <div class="footer-column">
  <h4>Hubungi Kami</h4>
  <ul class="contact-list">
    <li>
      <img src="https://cdn-icons-png.flaticon.com/512/597/597177.png" class="contact-icon">
      <span>Telepon : 0511-6120022</span>
    </li>
    <li>
      <img src="https://cdn-icons-png.flaticon.com/512/733/733585.png" class="contact-icon">
      <span>WhatsApp : 0813-5258-7014</span>
    </li>
    <li>
      <img src="https://cdn-icons-png.flaticon.com/512/732/732200.png" class="contact-icon">
      <span>rumahsakitumummawar@gmail.com</span>
    </li>
  </ul>
</div>

    <div class="footer-column">
      <h4>Media Sosial</h4>
      <div class="social-icons">
        <a href="https://www.instagram.com/rsumawarbjb/" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/2111/2111463.png" alt="Instagram"></a>
        <a href="https://www.youtube.com/@official_rssarimulia/" target="_blank"><img src="https://cdn-icons-png.flaticon.com/512/1384/1384060.png" alt="YouTube"></a>
        <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/5968/5968764.png" alt="Facebook"></a>
        <a href="#"><img src="https://cdn-icons-png.flaticon.com/128/5969/5969020.png" alt="X"></a>
      </div>
    </div>

    <div class="footer-column footer-right">
      <img src="images/paripurna-kars.png" alt="Akreditasi Paripurna" class="footer-logo" />
      <br>
      <img src="images/Logo BPJS Kesehatan.webp" alt="Logo BPJS" class="footer-logo" />
      <br>
      <img src="images/Logo RSSM.png" alt="Logo RSSM" class="footer-logo" />
      <p>© Copyright 2025<br> Manajemen Teknologi Informasi<br>Rumah Sakit Sari Mulia</p>
    </div>
  </div>
</footer>
