<header class="navbar">
  <div class="logo">
    <img src="images/MawarLogo.png" alt="Logo Rumah Sakit Umum" />
  </div>
  <div class="burger" id="burger">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <nav id="nav-menu">
    <ul>
      <li><a href="index.html">Beranda</a></li>

      <li class="dropdown">
        <a href="index.html">Tentang Kami</a>
        <ul class="dropdown-content">
          <li><a href="katasambutan.html">Kata Sambutan</a></li>
          <li><a href="sejarah.html">Sejarah</a></li>
          <li><a href="visimisi.html">Visi dan Misi</a></li>
          <li><a href="denahdanlokasi.html">Denah dan Lokasi</a></li>
          <li><a href="indikatormutu.html">Indikator Mutu</a></li>
        </ul>
      </li>

      <li class="dropdown">
        <a href="index.html">Fasilitas & Layanan</a>
        <ul class="dropdown-content">
          <li><a href="rawatjalan.html">Rawat Jalan</a></li>
          <li><a href="rawatinap.html">Rawat Inap</a></li>
          <li><a href="igd.html">IGD 24 Jam</a></li>
          <li><a href="kamaroperasi.html">Kamar Operasi</a></li>
          <li><a href="lab.html">Laboratorium</a></li>
          <li><a href="radiologi.html">Radiologi</a></li>
          <li><a href="farmasi.html">Farmasi</a></li>
        </ul>
      </li>

      <li><a href="informasi.html">Informasi</a></li>
      <li><a href="jadwaldokter.html">Jadwal Dokter</a></li>
      <li><a href="cabang.html">Cabang</a></li>
      <li><a href="kontak.html">Kontak</a></li> 
    </ul>
  </nav>
</header>
